<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About Me</h4>
        <br>
        <p class="text-muted">My name is Chance Carr.  I am living in Provo, Utah.  I am 14 years old and will soon be a Sophomore at Timpview High School.  At the moment, I am spending my summer learning how to code, playing videogames, and working odd jobs.</p>
        <p class="text-muted">This is a paragraph of filler content.  Please move along.  It's very boring, really.  You shouldn't waste you time reading it.  Whatever.  It's your life, you can do what you want.  I hope it was worth it!  Goodbye.  Chump.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'text-white', 'li' %>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Chance Carr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
