<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "realangerbirb.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      
      <div class="col-md-6">
          <p>My name is Chance Carr.  I am living in Provo, Utah.  I am 14 years old and will soon be a Sophomore at Timpview High School.  At the moment, I am spending my summer learning how to code, playing videogames, and working odd jobs.</p>
        </div>
    </div>
  </div>
</div>