<h1>About Me</h1>

<hr>

<!--
(I will fill this with a profile image later)
<div class="row">
  <div class="col-md-4">
    <%= image_tag "river.jpg", width: 300, alt: "Profile Image" %>
  </div>
  (ALSO!!! Make sure to change the number of columns per div. image should have 8 and text should have 4.)
-->
  
  <div class="col-md-12">
      <p>My name is Chance Carr.  I am living in Provo, Utah.  I am 14 years old and will soon be a Sophomore at Timpview High School.  At the moment, I am spending my summer learning how to code, playing videogames, and working odd jobs.</p>
    </div>
</div>