<div class="app-card-container">
    <div class="card">
      <h1>Would you like to work together?</h1>
      
      <hr>
      
      <div class="row">
        <div class="col-md-4">
          <h3>Office Address</h3>
          
            <p>Currently my house, located in Provo, UT</p>
            
          <h3>Phone</h3>
          
            <p><%= number_to_phone "8014621512" %></p>
            
          <h3>Email</h3>
            
            <p><a href="mailto:chancecarr1@gmail.com?subject=PortfoliioContact" "email me">Email me</a> </p>
        </div>
      
        <div class="col-md-8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1521.4650710734245!2d-111.66163802146909!3d40.29951002811095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe94d54b2374735d!
          2sAMC+Classic+Provo+12!5e0!3m2!1sen!2sus!4v1501177682201" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>